
body {
    padding-top: 70px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-go {
    width: 300px;
    height: 200px;
}

.btn-go h1 {
    font-size: 80pt;
    font-weight: bold;
}


.timeseries {
    fill: none;
    stroke-width: 2.5px;
}

.timeseries.current-line {
    stroke: red;
    stroke-width: 3.5px;
}

.timeseries.old-line {
    stroke: grey;
}

