<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <h1>&nbsp;<span ng-if="!active && !viewModel.button.countdown">{{viewModel.quotes[0]}}</span>&nbsp;</h1>
            <button type="button"
                    class="btn btn-go"
                    ng-click="start()"
                    ng-class="[viewModel.button.class]"
                    ng-disabled="active">
                <h1 ng-if="!viewModel.button.countdown">Go!</h1>

                <h1 ng-if="viewModel.button.countdown">{{viewModel.button.countdown}}</h1>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 text-center">
        <h1>
            <small>Top Speed</small>
        </h1>
        <h1>{{viewModel.topSpeed | number :1}}
            <small>mph<span ng-if="viewModel.recentTopSpeed"> (nice!)</span></small>
        </h1>
    </div>
    <div class="col-xs-6 text-center">
        <h1>
            <small>Total</small>
        </h1>
        <h1>{{viewModel.runs}}
            <small>runs</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">
            <path class="timeseries old-line"
                  ng-repeat="line in viewModel.graph.oldLines"
                  ng-attr-d="{{line}}"></path>
            <path class="timeseries current-line" ng-attr-d="{{viewModel.graph.currentLine}}"></path>
        </svg>
    </div>
</div>








